target
bin
.classpath
.settings
.project
*.iml
*.ipr
*.iws
work
nbactions.xml
nb-configuration.xml
release.properties
pom.xml.releaseBackup
.idea
*.sublime-project
*.sublime-workspace

# vim
*.swp
Session.vim
/nbproject/